Repository anubissbe/knowledge-rag-webui, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, styling, testing, documentation, configuration, ci/cd, security, mobile, search, settings, bulk-operations, typescript, build, dependencies

.github/labeler.yml:

# Configuration for GitHub's labeler action
# https://github.com/actions/labeler

# Frontend related changes
frontend:
  - src/**/*.tsx
  - src/**/*.ts
  - src/components/**/*
  - src/pages/**/*
  - src/hooks/**/*

# Styling changes
styling:
  - "**/*.css"
  - src/styles/**/*
  - tailwind.config.js
  - postcss.config.mjs

# Testing related changes
testing:
  - tests/**/*
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - playwright.config.ts
  - playwright-report/**/*

# Documentation changes
documentation:
  - "**/*.md"
  - docs/**/*
  - README.md
  - CONTRIBUTING.md

# Configuration changes
configuration:
  - "**/*.json"
  - "**/*.yml"
  - "**/*.yaml"
  - vite.config.ts
  - tsconfig*.json
  - eslint.config.js
  - package.json
  - package-lock.json

# GitHub Actions / CI changes
ci/cd:
  - .github/**/*

# Security related
security:
  - .github/workflows/codeql.yml
  - .github/workflows/dependency-updates.yml

# Mobile/responsive changes
mobile:
  - src/components/mobile/**/*
  - src/styles/mobile.css
  - src/hooks/useResponsive.ts

# Search functionality
search:
  - src/pages/Search.tsx
  - src/components/search/**/*
  - src/utils/search.ts

# Settings/preferences
settings:
  - src/pages/Settings.tsx
  - src/components/settings/**/*

# Bulk operations
bulk-operations:
  - src/components/bulk/**/*
  - src/hooks/useBulkSelection.ts

# TypeScript changes
typescript:
  - src/types/**/*
  - "**/*.ts"
  - "**/*.tsx"
  - tsconfig*.json

# Build/deployment
build:
  - vite.config.ts
  - dist/**/*
  - .lighthouserc.json

# Dependencies
dependencies:
  - package.json
  - package-lock.json

feat: create comprehensive dashboard/analytics view with usage statistics
  package-lock.json
  package.json
  src/App.tsx
  src/components/Layout.tsx
  src/components/dashboard/ActivityFeed.tsx
  src/components/dashboard/MemoryChart.tsx
  src/components/dashboard/SearchInsights.tsx
  src/components/dashboard/StatsCard.tsx
  src/components/dashboard/TopTags.tsx
  src/components/dashboard/UsageMetrics.tsx
  src/pages/Dashboard.tsx
  tests/e2e/dashboard.spec.ts
Labels: frontend, testing, configuration, typescript, dependencies

docs: update README to include dashboard/analytics features
  README.md
Labels: documentation

feat: implement comprehensive keyboard shortcuts system
  README.md
  docs/KEYBOARD_SHORTCUTS.md
  src/App.tsx
  src/components/KeyboardShortcutIndicator.tsx
  src/components/KeyboardShortcutsModal.tsx
  src/components/Layout.tsx
  src/hooks/useKeyboardShortcuts.ts
  src/hooks/useKeyboardShortcutsModal.ts
  src/pages/Memories.tsx
  src/pages/Search.tsx
  tests/e2e/keyboard-shortcuts.spec.ts
Labels: frontend, testing, documentation, search, typescript

feat: implement Progressive Web App (PWA) features
  README.md
  docs/PWA_FEATURES.md
  index.html
  package-lock.json
  package.json
  public/apple-touch-icon.svg
  public/logo.svg
  public/manifest.json
  public/maskable-icon-512x512.svg
  public/pwa-192x192.svg
  public/pwa-512x512.svg
  public/pwa-64x64.svg
  pwa-assets.config.js
  scripts/generate-pwa-icons.js
  src/App.tsx
  src/components/OfflineIndicator.tsx
  src/components/PWAInstallPrompt.tsx
  src/hooks/useOfflineDetection.ts
  src/index.css
  src/vite-env.d.ts
  tests/e2e/pwa-features.spec.ts
  vite.config.ts
Labels: frontend, styling, testing, documentation, configuration, typescript, build, dependencies

feat: implement real-time updates with WebSocket integration
  README.md
  docs/WEBSOCKET_INTEGRATION.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/ConnectionStatus.tsx
  src/components/Layout.tsx
  src/components/RealtimeNotification.tsx
  src/contexts/WebSocketContext.tsx
  src/contexts/WebSocketContextExport.ts
  src/hooks/useRealtimeMemories.ts
  src/hooks/useWebSocket.ts
  src/index.css
  src/pages/Memories.tsx
  src/services/mockWebSocketServer.ts
  src/services/websocket.ts
  src/types/index.ts
  tests/e2e/websocket-realtime.spec.ts
Labels: frontend, styling, testing, documentation, configuration, typescript, dependencies

fix: resolve TypeScript error in WebSocket service type casting
  FUNCTIONALITY_VERIFICATION.md
  dev-dist/sw.js
  dev-dist/workbox-47da91e0.js
  eslint.config.js
  src/services/websocket.ts
Labels: frontend, documentation, configuration, typescript

feat: Add comprehensive error boundaries for crash prevention
  docs/ERROR_HANDLING.md
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/PageErrorBoundary.tsx
  src/components/RouteErrorBoundary.tsx
  tests/e2e/error-boundary.spec.ts
Labels: frontend, testing, documentation, typescript

feat: Add comprehensive toast notification system
  docs/TOAST_NOTIFICATIONS.md
  src/App.tsx
  src/components/ToastNotification.tsx
  src/components/bulk/BulkSelectionToolbar.tsx
  src/components/settings/ApiKeysSettings.tsx
  src/components/settings/ProfileSettings.tsx
  src/hooks/useToast.ts
  src/pages/MemoryDetail.tsx
  src/stores/notificationStore.ts
  tests/e2e/toast-notifications.spec.ts
Labels: frontend, testing, documentation, settings, bulk-operations, typescript

feat: Replace mock data with real API integration
  README.md
  docs/API_INTEGRATION.md
  src/components/memory/RelatedMemories.tsx
  src/components/search/SearchStats.tsx
  src/components/settings/DataExportSettings.tsx
  src/pages/Dashboard.tsx
  src/pages/Memories.tsx
  src/pages/MemoryDetail.tsx
  src/pages/Search.tsx
  src/services/api/analyticsApi.ts
  src/services/api/baseApi.ts
  src/services/api/exportApi.ts
  src/services/api/index.ts
  src/services/api/memoryApi.ts
  src/services/api/searchApi.ts
  tests/e2e/api-integration.spec.ts
Labels: frontend, testing, documentation, search, settings, typescript

fix: Fix WebSocket memory leaks and improve resource management
  docs/WEBSOCKET_MEMORY_LEAK_FIXES.md
  package-lock.json
  package.json
  src/hooks/useRealtimeMemories.ts
  src/services/websocket.ts
  tests/e2e/websocket-memory-leak.spec.ts
Labels: frontend, testing, documentation, configuration, typescript, dependencies

Implement secure API key display with masking and auto-hide
  docs/API_KEY_SECURITY.md
  src/components/Layout.tsx
  src/components/settings/ApiKeysSettings.tsx
  tests/e2e/api-key-security.spec.ts
Labels: frontend, testing, documentation, settings, typescript

Replace console.log statements with centralized logging system
  docs/LOGGING_IMPLEMENTATION.md
  src/components/PWAInstallPrompt.tsx
  src/components/settings/NotificationSettings.tsx
  src/components/settings/PreferencesSettings.tsx
  src/components/settings/PrivacySettings.tsx
  src/hooks/useKeyboardShortcuts.ts
  src/hooks/useOfflineDetection.ts
  src/services/mockWebSocketServer.ts
  src/services/websocket.ts
  src/utils/logger.ts
Labels: frontend, documentation, settings, typescript

Complete professional documentation and configuration for logging system
  .env.example
  README.md
  dev-dist/sw.js
  docs/README.md
  tests/e2e/logging-system.spec.ts
Labels: testing, documentation, typescript

Implement comprehensive code splitting with 77% bundle size reduction
  README.md
  docs/CODE_SPLITTING.md
  docs/README.md
  src/App.tsx
  src/components/LoadingSpinner.tsx
  tests/e2e/code-splitting.spec.ts
  vite.config.ts
Labels: frontend, testing, documentation, configuration, typescript, build

feat: implement professional confirmation dialogs
  README.md
  dev-dist/sw.js
  docs/confirmation-dialogs.md
  src/App.tsx
  src/components/settings/PrivacySettings.tsx
  src/components/ui/ConfirmationDialog.tsx
  src/hooks/useKeyboardShortcuts.ts
  src/pages/Dashboard.tsx
  src/pages/MemoryCreate.tsx
  src/pages/MemoryDetail.tsx
  src/services/api/analyticsApi.ts
  tests/e2e/confirmation-dialogs.spec.ts
Labels: frontend, testing, documentation, settings, typescript

feat: integrate Sentry external logging service
  .env.example
  CONFIRMATION_DIALOGS_IMPLEMENTATION.md
  EXTERNAL_LOGGING_IMPLEMENTATION.md
  README.md
  docs/EXTERNAL_LOGGING.md
  package-lock.json
  package.json
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/SentryErrorBoundary.tsx
  src/services/sentry.ts
  src/utils/logger.ts
  tests/e2e/external-logging.spec.ts
Labels: frontend, testing, documentation, configuration, typescript, dependencies

feat: Add backend API server with Express.js and TypeScript
  README.md
  backend/.env.example
  backend/.eslintrc.json
  backend/.gitignore
  backend/README.md
  backend/jest.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/errorHandler.ts
  backend/src/middleware/notFoundHandler.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/models/Collection.ts
  backend/src/models/Memory.ts
  backend/src/models/User.ts
  backend/src/routes/analytics.ts
  backend/src/routes/auth.ts
  backend/src/routes/collections.ts
  backend/src/routes/export.ts
  backend/src/routes/index.ts
  backend/src/routes/memories.ts
  backend/src/routes/search.ts
  backend/src/services/database.ts
  backend/src/services/websocket.ts
  backend/src/utils/asyncHandler.ts
  backend/src/utils/logger.ts
  backend/tests/api.test.ts
  backend/tests/setup.ts
  backend/tsconfig.json
  tests/e2e/backend-integration.test.js
Labels: testing, documentation, configuration, typescript

feat: Implement complete user authentication with JWT tokens
  backend/package-lock.json
  backend/package.json
  backend/src/middleware/auth.ts
  backend/src/routes/auth.ts
  backend/src/routes/memories.ts
  dev-dist/sw.js
  src/App.tsx
  src/components/Layout.tsx
  src/components/auth/ProtectedRoute.tsx
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  src/pages/Register.tsx
  src/services/api/authApi.ts
Labels: frontend, configuration, typescript

docs: Add comprehensive authentication documentation and E2E tests
  README.md
  dev-dist/sw.js
  docs/AUTHENTICATION.md
  tests/e2e/authentication.spec.ts
  tests/e2e/backend-integration.test.js
Labels: testing, documentation, typescript

feat: Add search filters persistence for authenticated users
  README.md
  backend/src/models/User.ts
  backend/src/routes/index.ts
  backend/src/routes/preferences.ts
  backend/src/services/database.ts
  docs/SEARCH_FILTERS_PERSISTENCE.md
  src/components/Layout.tsx
  src/components/search/SearchFilters.tsx
  src/contexts/AuthContext.tsx
  src/pages/Login.tsx
  src/pages/Search.tsx
  src/services/api/preferencesApi.ts
  tests/e2e/search-filters-persistence.spec.ts
Labels: frontend, testing, documentation, search, typescript

feat: Implement comprehensive Memory Versioning system
  README.md
  backend/src/models/MemoryVersion.ts
  backend/src/routes/index.ts
  backend/src/routes/memories.ts
  backend/src/routes/memoryVersions.ts
  backend/src/services/database.ts
  dev-dist/sw.js
  docs/MEMORY_VERSIONING.md
  src/components/memory/MemoryVersionComparison.tsx
  src/components/memory/MemoryVersionHistory.tsx
  src/components/memory/MemoryVersionViewer.tsx
  src/pages/MemoryDetail.tsx
  src/services/api/index.ts
  src/services/api/memoryVersionsApi.ts
  src/services/api/preferencesApi.ts
  src/types/index.ts
  tests/e2e/memory-versioning-final.spec.ts
  tests/e2e/memory-versioning-mock.spec.ts
  tests/e2e/memory-versioning-simple.spec.ts
  tests/e2e/memory-versioning-validation.spec.ts
  tests/e2e/memory-versioning.spec.ts
Labels: frontend, testing, documentation, typescript

feat: Implement comprehensive Memory Templates system
  README.md
  backend/src/models/MemoryTemplate.ts
  backend/src/routes/index.ts
  backend/src/routes/memoryTemplates.ts
  backend/src/services/database.ts
  dev-dist/sw.js
  docs/MEMORY_TEMPLATES.md
  src/components/memory/TemplateFields.tsx
  src/components/memory/TemplateManager.tsx
  src/components/memory/TemplateSelector.tsx
  src/pages/MemoryCreate.tsx
  src/services/api/index.ts
  src/services/api/memoryTemplatesApi.ts
Labels: frontend, documentation, typescript

fix: resolve ESLint errors and TypeScript strict typing issues
  backend/src/middleware/auth.ts
  backend/src/middleware/errorHandler.ts
  backend/src/models/Memory.ts
  backend/src/models/MemoryVersion.ts
  backend/src/routes/analytics.ts
  backend/src/routes/auth.ts
  backend/src/routes/collections.ts
  backend/src/routes/memories.ts
  backend/src/routes/memoryTemplates.ts
  backend/src/routes/memoryVersions.ts
  backend/src/services/database.ts
  backend/src/services/websocket.ts
  backend/src/utils/asyncHandler.ts
  backend/src/utils/logger.ts
  src/components/memory/TemplateManager.tsx
  tests/e2e/toast-notifications.spec.ts
  tests/e2e/websocket-memory-leak.spec.ts
Labels: frontend, testing, typescript

fix: resolve critical TypeScript any types in ErrorBoundary and MemoryVersionComparison
  src/components/ErrorBoundary.tsx
  src/components/memory/MemoryVersionComparison.tsx
Labels: frontend, typescript

ci: allow ESLint warnings while still failing on errors
  .github/workflows/ci.yml
Labels: configuration, ci/cd

fix: downgrade problematic ESLint rules from error to warning
  eslint.config.js
Labels: configuration

ci: temporarily disable E2E tests to fix hanging CI pipeline
  .github/workflows/ci.yml
Labels: configuration, ci/cd

fix: regenerate package-lock.json to resolve CI dependency sync issues
  package-lock.json
Labels: configuration, dependencies

fix: add continue-on-error for security scanning steps with permission issues
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Labels: configuration, ci/cd, security

fix: improve CI robustness for dependency PRs
  .github/workflows/ci.yml
Labels: configuration, ci/cd

fix: regenerate package-lock.json on master branch to sync dependencies
  package-lock.json
Labels: configuration, dependencies

fix: resolve all ESLint errors to enable CI for dependency PRs
  e2e/tests/accessibility-features.spec.ts
  eslint.config.js
Labels: testing, configuration, typescript

fix: resolve remaining ESLint errors in test files
  e2e/tests/accessibility-features.spec.ts
  e2e/tests/onboarding-flow.spec.ts
Labels: testing, typescript

fix: treat all remaining ESLint rules as warnings for CI compatibility
  eslint.config.js
Labels: configuration

fix: increase ESLint max-warnings to 300 to accommodate current codebase
  .github/workflows/ci.yml
Labels: configuration, ci/cd

fix: make build step non-blocking in CI to allow dependency PRs to pass
  .github/workflows/ci.yml
Labels: configuration, ci/cd

fix: make test step non-blocking in CI workflow
  .github/workflows/ci.yml
Labels: configuration, ci/cd

feat: implement comprehensive CI/CD pipeline and deployment infrastructure
  .env.example
  .github/workflows/ci.yml
  .github/workflows/dependency-updates.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .lighthouserc.json
  README.md
  TODO.md
  docker-compose.prod.yml
  docker-compose.staging.yml
  docs/CI_CD_PIPELINE.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/INDEX.md
  k8s/production/deployment.yml
  k8s/production/hpa.yml
  k8s/production/ingress.yml
  k8s/staging/deployment.yml
  package.json
  scripts/deployment/deploy.sh
  scripts/deployment/rollback.sh
  scripts/deployment/setup-environment.sh
  scripts/update-completed-tasks.sh
  scripts/update-mcp-testing-completion.js
Labels: documentation, configuration, ci/cd, security, build, dependencies

feat: upgrade express from 4.21.2 to 5.1.0
  examples/mcp-servers/package.json
Labels: configuration

fix: Update CI workflow to use self-hosted runners
  .github/workflows/ci.yml
Labels: configuration, ci/cd
